Release Notes (Version ${project.version})

    These are the release notes for the Java library for mapcodes.

#set( $str = "${project.version}" )
#if( $str.contains('SNAPSHOT') )
    <<IMPORTANT: This is a SNAPSHOT version of the repository which may change at any time.
    Needless to say, never depend on <<<SNAPSHOT>>> versions if you can avoid it.
    In any case, never depend on them for your own non-<<<SNAPSHOT>>> releases.
#end

* 1.50

    * Major release. This version is not backwards compatible with mapcode 1.4x: is has dropped support for
      Antartica AT0-8 codes and has a changed (improved) way of dealing with the Greek alphabet.

    * Added 22-chararcter post-processing of all-digit mapcodes for the Greek alphabet.

    * Retired legacy aliases EAZ and SKM, AU-QL, AU-TS, AU-NI and AU-JB.

    * Retired legacy Antarctica claims AT0 through AT8.

    * Added convencience methods for <<<MapcodeCodec>>> to accept <<<Point>>> for all encode functions
      as well (not just <<<latDeg>>>, <<<lonDeg>>>).

    * Added alphabet support to convert mapcodes (both codes and territories) between <<<Alphabet>>>s.

    * Exceptions have been corrected and documented in code.

    * Allowed nullable values in <<<MapcodeCodec>>> encode and decode methods to assume reasonable defaults.

    * Microdegrees are no longer support publicly in <<<Point>>>. Only degrees.

    * Latitudes are limited to -90..90 and longitudes are wrapped to -180..180 (non inclusive).

    []


* 1.42.3

    * To be done.

    []

* 1.42.2

    * Upper- and lowercase mapcodes always allowed.

    []

* 1.42.1

    * Cleaned up source. Removed all pending IntelliJ IDEA inspection warnings and reformatted code
      using default IDEA code style to maintain consistent layout.

    * Add additional unit tests to check for correct handling of international mapcode handling.

    * Added safe constants for the maximum delta distance in meters for mapcode accuracy.

    []

* 1.42

    * Fixed a bug in <<<MapcodeCodec.encodeToShortest>>> which would not always return the shortest code (see
      next bullet). Reproducible with <<<curl -X GET http://localhost:8080/mapcode/to/47.1243/-111.28564/local>>>.

    * Fixed a bug where <<<Encoder.encode>>> would sometime retrieve more than one result even if result set
      was limited to 1 result.

    []

* 1.41.1

    * Added convenience method to Mapcode.

    []

* 1.41

    * Added the India state Telangana (IN-TG), until 2014 a region in Adhra Pradesh.

    * Updated POM dependencies to latest library versions of standard components.

    []

* 1.40.3

    * Minor code clean-up with no functional effect.

    * (Issue #6) Removed non-project specific unwanted files out of <<<.gitignore>>>. These should be listed in the
    developer's own global <<<~/.gitignore>>> file instead.

    []

* 1.40.2

    * Added <<<getMapcodeFormatType>>> and <<<isValidMapcodeFormat>>> to check validity of mapcode strings. Added
    unit tests for these methods as well.

    * Constructor of <<<Mapcode>>> now checks for validity of mapcode string.

    * Added Unicode handling of high precision mapcodes and added check to throw an <<<IllegalArgumentException>>>
    if the character 'Z' or equivalent Unicode character is contained in the high precision part according to
    the Mapcode documenation.

    * Added method <<<convertToAscii>>> which produces the ASCII, non-Unicode variant of a mapcode which contains
    Unicode characters§.

    []

* 1.40.1

    * Deprecated names <<<getMapcodeHighPrecision>>> and <<<getMapcodeMediumPrecision>>>.
      Replaced those with <<<getMapcodePrecision1>>> and <<<getMapcodePrecision2>>>.

    * Fixed all occurences of incorrectly cased Mapcode vs. mapcode.

    []

* 1.40

    * Renamed class <<<Mapcode>>> to <<<MapcodeCodec>>>.

    * Renamed class <<<MapcodeInfo>>> to <<<Mapcode>>>.

    * Added high precision Mapcodes, with methods <<<getMapcodeHighPrecision>>>

    * Seriously reduced test set size.

    * Replaced Unicode characters in source code to escapes.

    * Added explicit character encoding to <<<pom.xml>>>.

    * Fixed issues with decoder at some boundaries.

    []

* 1.33.2

    * Clean-up of release 1.33.2.

    * Added release notes.

    * Removed GSON dependency from production (now scope 'test' only).

    * Added robustness with respect to Unicode characters.

    []

* 1.33.1

    * First release of Java library for MapCodes. Includes extensive test suite.

    []
