<?xml version="1.0" encoding="UTF-8" ?>
<!--
 ~ Copyright (C) 2014-2015 Stichting Mapcode Foundation (http://www.mapcode.com)
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~   http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="# %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] %22.22t | %42.42c | %m%n"/>
        </layout>
    </appender>

    <!-- Make sure we get all messages from our own domain. -->
    <logger name="com.mapcode">
        <level value="info"/>
    </logger>

    <!--
        Define the root (default) logging level. Set it to "warn" to avoid
        getting debug and info messages from 3rd party products.
    -->

    <root>
        <priority value="warn"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>
